run = "bash replit-setup.sh"
entrypoint = "src/app/page.tsx"

hidden = [".build", ".config"]

[nix]
channel = "stable-22_11"

[env]
NEXT_PUBLIC_BASE_PATH = ""
NODE_ENV = "production"
PORT = "3000"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
